<!DOCTYPE html>
<html>
	<head>
		  <title>OMG-Railzzz</title>
		  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>
	</head>

	<body>

		<%= render 'layouts/header' %>

		<div class="container">
		
		<!-- Added per Devise gem instructions:

Ensure you have flash messages in app/views/layouts/application.html.erb.
     For example:

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

	-->

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>
		<%= yield %>

		<%= render 'layouts/footer' %>

	</body>

</html>
